<div class="backgroundhp">
  <div class="container">
    <h1 class="mb-5">What is your next trip ?</h1>
    <%= simple_form_for @trip do |f| %>
      <%= f.input :departure, label: false, placeholder:"Departure" %>
      <%= f.input :destination, label: false, placeholder:"Destination" %>
      <%= f.button :button, class:"btn btn-primary absolute rounded-circle" do %>
        <i class="fa-solid fa-magnifying-glass"></i>
      <% end %>
    <% end %>
  </div>
</div>

<div class="container">

  <div class="row justify-content-center align-items-center">
    <div class="galery d-flex flex-wrap">
      <div class="colone1">
        <div class="dubai position-relative ">
          <div>
            <a class="bttn position-absolute bottom-0 end-0"href="/">Dubai</a>
          </div>
        </div>
      </div>

      <div class="colone2">
        <div class="istambul position-relative">
          <div>
            <a class="bttn position-absolute bottom-0 end-0"href="/">istambul</a>
          </div>
        </div>


        <div class="malte position-relative">
          <div>
            <a class="bttn position-absolute bottom-0 end-0"href="/">Malte</a>
          </div>
        </div>

        <div class="naple position-relative">
          <div>
            <a class="bttn position-absolute bottom-0 end-0"href="/">Naple</a>
          </div>
        </div>


        <div class="santorin position-relative">
          <div>
            <a class="bttn position-absolute bottom-0 end-0"href="/">Santorin</a>
          </div>
        </div>
      </div>

      <div class="colone3">
        <div class="paris position-relative ">
          <div>
            <a class="bttn position-absolute bottom-0 end-0"href="/">Paris</a>
          </div>
        </div>

        <div class="col offset-4">
          <div class="malaga position-relative">
            <div>
              <a class="bttn position-absolute bottom-0 end-0"href="/">Malaga</a>
          </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
