// Define variables for your color scheme

// For example:
$navy: #141627;
$dark-violet: #3B3270;
$violet: #765CDE;
$pink: #E6549A;
$very-light-grey: #F3F3F3;
$light-grey: rgba(149, 149, 149, .5);
$green:#82D173
