.transport-card svg{
width:55px;
height:55px;
}
.statut-validated{
  color: $green;
  i{
    color: $green;
  }
}
.statut-pending{
  color: $violet;
  i{
    color: $violet;
  }
}
.compensation-card{
  border-radius: $border-radius;
  background-color: #1C1F36;

  background-size: cover;
  background-position: center;
  margin-bottom:30px;
}
.info-compensation{
  line-height: 70%;
}

.violet-text{
  font-family: Fredoka;
  font-size: 62px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: $violet
}

.green-text{
  font-family: Fredoka;
  font-size: 52px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: $green
}

.item-grid-compensation:hover .bnnt{
    background-color: $very-light-grey;
  color: $dark-violet;
  transition: all cubic-bezier(0.60, 0.00, 0.40, 1) 1s;
}
