.transport-card svg{
width:55px;
height:55px;
}
.statut-validated{
  color: $green;
  i{
    color: $green;
  }
}
.statut-pending{
  color: $violet;
  i{
    color: $violet;
  }
}
.compensation-card{
  border-radius: $border-radius;
  background-color: #1C1F36;
  background-image:
                linear-gradient(to bottom, rgba(20, 22, 39, 0.3), rgba(20, 22, 39, 0.9)),
                url("https://images.unsplash.com/photo-1503435980610-a51f3ddfee50?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  margin-bottom:30px;
}
.info-compensation{
  line-height: 70%;
}

.violet-text{
  font-family: Fredoka;
  font-size: 62px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: $violet
}

.green-text{
  font-family: Fredoka;
  font-size: 52px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: $green
}
