.transport-card{
  width: 45%;
  height: auto;
  flex-shrink: 0;
  border-radius: 24px;
  background: #1C1F36;
}
.transport-card a {text-decoration: none;}
.haut-droit{
  width: 464px;
  height: 363px;
  flex-shrink: 0;
  border-radius: 24px;
  background: #1C1F36;
}

.milieu{
  width: 952px;
  height: 363px;
  flex-shrink: 0;
  border-radius: 24px;
  background: #1C1F36;
}

.bas-gauche{
  width: 464px;
  height: 363px;
  flex-shrink: 0;
  border-radius: 24px;
  background: #1C1F36;
}

.bas-droit{
  width: 464px;
  height: 363px;
  flex-shrink: 0;
  border-radius: 24px;
  background: #1C1F36;
}

.ligne1{
  gap: 24px;
}

.ligne3{
  gap: 24px;
}

.ligne2{
  margin: 24px 0px;
}

.transport{
  margin: auto;
}

// .bton{
//   width: 170px;
//   height: 52px;
//   flex-shrink: 0;
//   border-radius: 24px;
//   background: #282D4A;
//   margin: 24px;
// }

.transport{
  margin: auto;
  padding-top: 90px;
}

.inspiration{
  margin-top: 100px;
}

// .puceText{
//   margin-top: 10px;
//   margin-right: 15px;
// }

.text{
margin-left: 63px;
font-size: x-small;
}

.auto{
  margin: auto;
}


.titre{
    margin-left: 25px;
    margin-top: 20px;

}

.choosLink{
text-decoration: none;}

.description{
  font-size: x-large;
  margin-left: 50px;
}

.puceHoriz{
  width: 2px;
  height: auto;
  transform: rotate(179.986deg);
  flex-shrink: 0;
  background: var(--Very-Light-Grey, #F3F3F3);
  margin-left: 30px;
  margin-top: 12px;
}

.icone{
  margin-right: 24px;
}

.distancefont{
  color: $very-light-grey;
  opacity: 0.6;
  margin: auto;
}

.data-trip{
  font-size: 1.8em;
  margin: auto;
}

.smaller{
  font-size: 0.6em !important;
}
