.haut-gauche{
  width: 464px;
  height: 363px;
  flex-shrink: 0;
  border-radius: 24px;
  background: #1C1F36;
}

.haut-droit{
  width: 464px;
  height: 363px;
  flex-shrink: 0;
  border-radius: 24px;
  background: #1C1F36;
}

.milieu{
  width: 952px;
  height: 363px;
  flex-shrink: 0;
  border-radius: 24px;
  background: #1C1F36;
}

.bas-gauche{
  width: 464px;
  height: 363px;
  flex-shrink: 0;
  border-radius: 24px;
  background: #1C1F36;
}

.bas-droit{
  width: 464px;
  height: 363px;
  flex-shrink: 0;
  border-radius: 24px;
  background: #1C1F36;
}

.ligne1{
  gap: 24px;
}

.ligne3{
  gap: 24px;
}

.ligne2{
  margin: 24px 0px;
}

.transport{
  margin: auto;
}

.bton{
  width: 170px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 24px;
  background: #282D4A;
  margin: 24px;
}

.transport{
  margin: auto;
  padding-top: 90px;
}

.inspiration{
  margin-top: 100px;
}

// .puceText{
//   margin-top: 10px;
//   margin-right: 15px;
// }

.text{
margin-left: 63px;
font-size: x-small;
}

.auto{
  margin: auto;
}


.titre{
    margin-left: 25px;
    margin-top: 20px;

}

.choosLink{
text-decoration: none;}

.description{
  font-size: x-large;
  margin-left: 50px;
  margin-top: 30px;
}
