
.backgroundhp{background-image:
                linear-gradient(to bottom, rgba(20, 22, 39, 0), rgba(20, 22, 39, 0.8)),
                url("https://res.cloudinary.com/ddz1wg1i0/image/upload/v1711033871/mpdqsf2u6pubfieujm1i.png");
                height:570px;
                background-size: cover;
                background-position: center;
                padding-top:250px;
              }

.new_trip{display:flex;width:100%;justify-content: space-between;align-items: center;position:relative;}
.absolute{position:absolute;right:10px;top:10px;height:42px;width:42px;}

.form-control{background-color: $very-light-grey;color:$navy;padding:10px 25px;height:60px;}
.form-control::placeholder {color: $light-grey;}
.form-control:focus{background-color: $very-light-grey;color:$navy;}

#trip_destination{border-radius: 0 60px 60px 0;width:100%}
.trip_destination{width:100%}
#trip_departure{border-radius: 60px 0 0 60px;width:100%}
.trip_departure{width:100%;}
