.heroShow{
  background-image: linear-gradient(to bottom, rgba(20, 22, 39, 0.75), rgba(20, 22, 39, 0.75)),
  url("https://loremflickr.com/1500/800/dubai,landscape");
  height:386px;
  background-size: cover;
  background-position: center;
}
.section{margin-top:48px;}
