<div class="container-footer">
  <div class="container-fluid mt-5">
  <footer class=" footer py-3">
    <ul class="nav justify-content-center mb-3">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Trip</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Compensation</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Account</a></li>
    </ul>
    <p class="text-center text-muted">© Copyright 2024, PurifyProject. Tous droits réservés.</p>
  </footer>
  </div>
</div>

<style>
.footer {
  background-color: rgba(14, 15, 27, 0.6);
  box-shadow: 5px 0px 24px 0px rgba(118, 92, 222, 0.1);
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: $very-light-grey;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

.container-footer .container-fluid{
  padding:0;

}

</style>
