 <div class="section col-8">
      <div class="puceText"></div>
      <h2>Need compensation idea ?</h2>
      <p>Here is a overview of the compensation</p>
  </div>
<div class="container">
  <div class="grid">


    <div class="c2ol">
      <div class="co2l-lign2e">
        <div class="co2l-lin2e-co1l">
          <div class="dechet">
            <a class="bnnt" href="/">Compensation</a>
          </div>
        </div>

        <div class="co2l-lin2e-co2l">
          <div class="forret">
            <a class="bnnt" href="/">Compensation</a>
          </div>
        </div>

        <div class="co2l-lin2e-co2">
          <div class="co2">
            <a class="bnnt" href="/">Compensation</a>
          </div>
        </div>
      </div>
      <div class="co2l-lign1e">
        <div class="co2l-co1l">
          <div class="co2l-co1l-lign1e">
            <div class="share">
              <a class="bnnt" href="/">Compensation</a>
            </div>
          </div>

          <div class="co2l-co1l-lign2e">
            <div class="voltaic">
              <a class="bnnt" href="/">Compensation</a>
            </div>
          </div>
        </div>

        <div class="co2l-co2l">
          <div class="meat">
            <a class="boutn" href="/">Compensation</a>
          </div>
        </div>
      </div>


    </div>
    <div class="co1l">
      <div class="tree">
      <a class="bnnt" href="http://localhost:3000/compensation_trips/1">Compensation</a>
      </div>
    </div>
  </div>
</div>
