.navbar-lewagon {
  justify-content: space-between;
  background: $navy;
  box-shadow: 5px 0px 24px 0px rgba(118, 92, 222, 0.24);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
