.navbar-lewagon {
  justify-content: space-between;
  background: $navy;
  box-shadow: 5px 0px 24px 0px rgba(118, 92, 222, 0.24);
  position:fixed;
  width:100%;
  z-index:10;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.barre{
  width: 1px;
  height: 34px;
  background: rgba(149, 149, 149, 0.50);
}

.left-area {
  width:8%;
}
.nav-link{
  color: #FFF;
}
